:root {
  /* Global */
  --global-background: #fff;
  --global-foreground: #fff;
  --global-border: #e5e5e5;

  --global-text: #111;

  /* Overrides */
  --shimmer-bg-from: #181818;
  --shimmer-bg-to: #151515;

  --text-color-heading: var(--global-text);
}
